<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chat Application</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>All Chats</h3>
    <form action="/chats/new" method="get">
        <button class="new-chat">New Chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>
                From : <span class="info">
                    <%= chat.from %>
                </span>
            </p>
            <div class="msg">
                <p>
                    <span class="msg-text">Message</span> : <%= chat.msg %>
                </p>
                <form action="/chats/<%= chat._id %>/edit" method="get">
                    <button class="edit-btn">Edit</button>
                </form>
            </div>
            <p>
                Recieved by : <span class="info">
                    <%= chat.to %>
                </span>
            </p>
            <hr>
            <p style="font-style: italic;">
                <span style="font-weight: 550; color :rgb(87, 87, 87);">Time :</span>
                <%= chat.created_at.toString().split(" ")[4] %>
            </p>
            <p style=" font-style: italic;">
                    <span style="font-weight: 550; color :rgb(87, 87, 87);">Date :</span>
                    <%= chat.created_at.toString().split(" ").slice(0,4).join(" - ") %>
            </p>
        </div>
        <br><br>
        <% } %>
</body>

</html>